<div class="page-width">
  <div class="flex-container three-cell-container">
    <div>
        <div class="landing-check-cell">
        <img class="landing-check-cell__img" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Icon_ionic-ios-checkmark-circle-outline.png?v=1636968653">
        </div>
        <div class="landing-adv-text-cell">
          <h4 class="blue-title mobile-text-left">{{section.settings.title1}}</h4>
          <p>{{section.settings.text1}}</p>
        </div>
      </div>
    <div>
        <div class="landing-check-cell">
        <img class="landing-check-cell__img" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Icon_ionic-ios-checkmark-circle-outline.png?v=1636968653">
        </div>
        <div class="landing-adv-text-cell">
          <h4 class="blue-title mobile-text-left">{{section.settings.title2}}</h4>
          <p>{{section.settings.text2}}</p>
        </div>
      </div>
    <div>
        <div class="landing-check-cell">
        <img class="landing-check-cell__img" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Icon_ionic-ios-checkmark-circle-outline.png?v=1636968653">
        </div>
        <div class="landing-adv-text-cell">
          <h4 class="blue-title mobile-text-left">{{section.settings.title3}}</h4>
          <p>{{section.settings.text3}}</p>
        </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Top Section",
    "settings": [
{
				"type" : "text",
				"id" : "text1",
				"label": "Your Title"
			},
{
				"type" : "text",
				"id" : "title1",
				"label": "Your Title"
			},
{
				"type" : "text",
				"id" : "text2",
				"label": "Your Title"
			},
{
				"type" : "text",
				"id" : "title2",
				"label": "Your Title"
			},
{
				"type" : "text",
				"id" : "text3",
				"label": "Your Title"
			},
{
				"type" : "text",
				"id" : "title3",
				"label": "Your Title"
			}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
