<div class="page-width">
<div class="centered-items">
<h1 class="main-title_section">{{section.settings.title}}</h1>
<h4 class="blue-title">{{section.settings.title1}}</h4>
  <div class="whole-icons-grid">
 <!-- One row of grid-->
  <div class="flex-container grid-container">
  <div>
  <h4 class="blue-title">Feel better energy</h4>
  <p>In 28 days you will feel more energy</p>
  <img class="grid-icon-img" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Mask_Group_43_2.png?v=1636738324">
  </div>
  <div>
	<h4 class="blue-title">Improve your overall daily life</h4>
    <p>Your outlook on life will drastically improve</p>
    <img class="grid-icon-img" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Mask_Group_59.png?v=1636738324">
  </div>
  </div>
  <!-- END -->
  <!-- One row of grid-->
  <div class="flex-container grid-container2">
  <div>
    <div>
  <img class="grid-icon-img-small" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Group_185.png?v=1636738885">
    <h4 class="blue-title" style="text-align: left">63% of our members<span> have started with the same energy level as you</span></h4>
    </div>
  </div>
  <div> 
    <div>
    <img class="grid-icon-img-small" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Icon_awesome-bed.png?v=1636738885">
	<h4 class="blue-title">Boost your sleep quality</h4>
    </div>
  </div>
  </div>
  <!-- END --> 
   <!-- One row of grid-->
  <div class="flex-container grid-container2">
  <div class="two-separate-col">
      <div>
        <h1 class="grid-nums">87%</h1>
        <p>Improved their energy levels and felt young again</p>
      </div>
      <div>
        <h1 class="grid-nums">96%</h1>
      <p>Said it improved their day-to-day life</p>
      </div>
  </div>
  <div> 
    <div>
    <img class="grid-icon-img-small" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Icon_metro-heartbeat.png?v=1636739859">
	<h4 class="blue-title">Is NMN bio safe for you?</h4>
    </div>
  </div>
  </div>
  <!-- END -->
  </div>
  </div>
<div class="centered-items">
<h1 class="main-title_section">{{section.settings.title2}}</h1>
  <ul class="landing-list">
    <li>No expensive treatments</li>
    <li>No harmful side effects</li>
  </ul>
  <div class="quiz-to-offer-btn-place">
    <a href="https://nmnbio.co.uk/pages/landing-offer">START NOW</a>
  </div>
  <h1 class="main-title_section">{{section.settings.title3}}</h1>
  <h4 class="blue-title mobile-text-left">{{section.settings.title4}}</h4>
  </div>
  <!-- One row of grid-->
  <div class="flex-container grid-container2 container-3-cells">
  <div>
    <div class="img-3-cell">
  <img class="grid-icon-img-chart" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Group_185_1.png?v=1636965748">
      </div>
    <div class="text-3-cell">
    <h4 class="blue-title" style="text-align: left">Average energy levels</h4>
    <p>The energy scale indicates your current energy levels</p>
    </div>
  </div>
  <div> 
    <div class="img-3-cell">
  <img class="grid-icon-img-chart" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Group_186.png?v=1636965748">
      </div>
    <div class="text-3-cell">
    <h4 class="blue-title" style="text-align: left">Average sleep quality</h4>
    <p>The sleep score indicated your current level of sleep</p>
    </div>
  </div>
    <div> 
    <div class="img-3-cell">
  <img class="grid-icon-img-chart" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Group_187.png?v=1636965748">
      </div>
    <div class="text-3-cell">
    <h4 class="blue-title" style="text-align: left">Health quality</h4>
    <p>The personal score indicated your health quality</p>
    </div>
  </div>
  </div>
  <!-- END -->
  <div class="centered-items">
  <h4 class="blue-title mobile-text-left">{{section.settings.text_blue}}</h4>
  <h4 class="blue-title mobile-text-left">{{section.settings.text_blue2}}</h4>
  <!-- One row of grid-->
  <div class="flex-container grid-container2 text-align-left">
  <div>
    <div>
  <img class="grid-icon-img-medium" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/Mask_Group_58.png?v=1636964246">
    <h4 class="blue-title">Your results indicate that</h4>
    <p>Your stress levels have increased in the past year</p>
    </div>
  </div>
  <div> 
    <div>
    <img class="grid-icon-img-medium" src="https://cdn.shopify.com/s/files/1/0461/5222/0837/files/shutterstock_794345539_Converted_-01.png?v=1636964246">
     <h4 class="blue-title" style="opacity: 0">hidden</h4>
    <p>Your energy levels decreased</p>
    </div>
  </div>
  </div>
  <!-- END -->
  <div class="quiz-to-offer-btn-place">
    <a href="https://nmnbio.co.uk/pages/landing-offer">START NOW</a>
  </div>
  </div>
  
</div>
{% schema %}
  {
    "name": "Grid",
    "settings": [
			{
				"type" : "text",
				"id" : "title",
				"label": "Your Title"
			},
			{
				"type" : "text",
				"id" : "title1",
				"label": "Your Title"
			},
			{
				"type" : "text",
				"id" : "title2",
				"label": "Your Title Bottom"
			},
			{
				"type" : "text",
				"id" : "title3",
				"label": "Your Title"
			},
			{
				"type" : "text",
				"id" : "title4",
				"label": "Your Title"
			},
			{
				"type" : "text",
				"id" : "text_blue",
				"label": "Your Text"
			},
			{
				"type" : "text",
				"id" : "text_blue2",
				"label": "Your Text"
			}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
